
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    list-style: none;
    font-family: montserrat;
    max-width: 1900px;
    margin: 0 auto;
    scroll-behavior: smooth;
}


.menu{
    width: 40px;
    display: none;
}
.titulo h1{
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
}
.titulo{
    width: 50%;
}
.box-header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background: white;
}
.nav-header {
    width: 40%;
    margin: 10px;
    margin-right: 40px;
}
.ul-header  {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.nav-header li:hover{
    cursor: pointer;
    transform: scale(1.25);
    font-weight: 900;  
}
/*MAIN-------------------------------------------*/

.img-orange{
    background-image: url(imagens/laranja-azul.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 40rem;
    position: absolute;
    top:32px;
    display: flex;
    justify-content:center;
}
.conteudo{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 125px;
    margin-top: 215px;
}
 .img-orange h1{
    color: #FFFFFF;
    font-size: 3.5rem;
}
.img-orange p{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight:10px;
    margin-left: 0px;
} 
.imagens {
    width: 100%;
    position: absolute;
    top:700px;
    padding:50px;
    
}
.coluna-img img {
    width: 300px;
    padding: 5px;
}
.coluna-img{
    display: flex;
    flex-wrap: wrap;
}

/*footer--------------------------------------*/

.base{
    background:#ddd;
    width: 100%;
    display:flex;
    position: absolute;
    top: 110rem;
    padding:10px;
}
.copy{
    width:45%;
    display: flex;
    align-items: center;
}
.copy p{
    font-size: 70%;
}
h6{
    font-size: 1rem;
    font-weight:bold;
    margin-right: 30px;
}
.list-footer{
    display: flex;
    margin-top: 7px;

}
.list-icons{
    background: none;
}
button{
    display:none;
}
.icones{
    width: 25%;
    justify-content: space-around;
    align-items: center;
}

    /*Aqui começa o @media-----------------------*/

    @media(max-width:1340px){
        .img-orange{
            height: 30rem;
        }
    }
    @media(max-width:1303px){
        .base{
            background:#ddd;
            width: 100%;
            display:flex;
            position: absolute;
            top: 140rem;
            padding:10px;
        }
        .icones{
            width: 25%;
            justify-content: space-around;
            align-items: center;
        }
    }
    @media(max-width:1003px){
        .base{
            position: absolute;
            top: 165rem;
        }
    }
    @media(max-width:945px){
        .img-orange{
            height:25rem;
         }
         .conteudo{
             margin-top:120px;
         }
         }
    @media(max-width:930px){
        .nav-header{
         width: 50%;
         margin-right: 50px;
        }
    }
    @media(max-width:800px){
        .box-header{
        justify-content: space-evenly;
        height: 40px;
        }
         .nav-header{
        display: none;
         }
        .menu-off{
        width: 350px;
        height: 40px;
        background: black;
        display: flex;
        justify-content: center;
        margin-right: 50px;
         }
         .menu{
        width: 30px;
        display: flex;
        }
        .img-orange{
            height:20rem;
         }
         .conteudo{
            position: relative;
            right:100px;
            margin-top: 100px;
         }
         .conteudo h1{
             font-size: 2.5rem;
         }
         .conteudo p{
             font-size: 1.5rem;
         }
         .imagens{
            position: absolute;
            top:400px;
         }
         .base{
             display: flex;
             flex-direction:column;
             height: 40vh;
             align-items: center;
             justify-content: center;
             position: absolute;
             top: 150rem;
         }
         .list-footer{
             width: 100%;
            display: flex;
            margin-bottom: 15px;
        }
        .icones{
            width:100%;
            justify-content: space-around;
            align-items: center;
        }
        .copy{
            width:100%;
            display: block;
        }
    }
    @media(max-width:745px){
        .img-orange{
            height:19rem;
         }
    }
    @media(max-width:703px){
        .img-orange{
            height:25rem;
            background-size: 60rem;
            background-position-x:85%;
         }
         .base{
            position: absolute;
            top: 260rem;
            padding:10px;
        }
        .conteudo{
            margin-top: 180px;
        }


    }

    @media(max-width:699px){
        #disco{
            order:1;
        }
        #camera{
            order:2;
        }
        #pote{
            order:3 ;
        }
        #telas{
            order:6;
        }
        #caneca{
            order:7;
        }
        #erva{
            order: 10;
        }
        #pao{
            order:8;
        }
        #pc{
            order:4;
        }

        #cereal{
            order:11;
        }

        #smart{
            order: 9;
        }
        #tablet{
            order:12;
        }

        #polaroide{
            order:5;
        }
    }
    @media(max-width:440px){
     .menu-off{
        width: 40%;
        margin-right: 60px;
         }
         .img-orange{
            height:25rem;
         }
         .coluna-img img {
            width: 280px;
            padding: 5px;
        }
        .imagens {
            width: 100%;
            position: absolute;
            top:500px;
            padding:50px;

        }
     }
    @media(max-width:400px){
        .coluna-img img{
            width:220px;
        }
        .copy p{
            font-size: 60%;
        }
        .copy{
            width: 50%;
            margin-left: 0;
            margin-top: 20px;
        }
        h6{
            font-size: 1rem;
            font-weight:bold;
            margin-right: 30px;
        }

        .base{
            position: absolute;
            top: 210rem;
            height: 60vw;
            padding:10px;
        }
        .button-topo{
            position:relative;
            bottom:50px;
            left:90px;
            padding: 10px;
    
        }
        button{
           background: #333333;
           color:#cccccc;
           display:block;
           padding: 2px;
           padding-left: 10px;
           padding-right: 10px;
        }

        .conteudo{
            margin-top: 120px;
        }
     }
    
     @media(max-width:320px){
    .titulo h1{
    position: relative;
    right:25px;
     }
    .img-orange{
        height:26.5rem;
        background-position-x:85%;
        background-size: 350%;
        position: absolute;
    }
    .conteudo{
         height: 10rem;
         position: relative;
         top:130px;
         right: 70px;
         
    }
     .conteudo h1{
        font-size: 2.2rem;
    }
    .conteudo p{
        font-size: .9rem;
    }  
    .coluna-img img {
        width: 215px;
        padding: 5px;
    }
    .base{
        position: absolute;
        top: 190rem;
        height: 60vw;
        padding:10px;
    }
    .copy p{ 
        display: inline-block;
        width: 100px;
    }
    .copy{
        width: 50%;
        margin-left: 0;
        margin-top: 20px;
    }
    .list-icons{
        position: relative;
        top:20px;
        background: #7FDBD4;
    }
    .button-topo{
        position:relative;
        bottom:65px;
        left:80px;
        padding: 10px;

    }
    button{
       background: #333333;
       color:#cccccc;
       display:block;
       padding: 2px;
       padding-left: 10px;
       padding-right: 10px;
    }
}
 